[submodule "modules/osxcross"]
	path = modules/osxcross
	url = https://github.com/tpoechtrager/osxcross.git
[submodule "modules/preprocessor"]
	path = modules/preprocessor
	url = https://github.com/DynareTeam/dynare-preprocessor
